<% /* views/inventory/delete-confirm.ejs */ %>
<section class="form-wrap">
  <h1>Delete Vehicle</h1>
  <p>Confirm Deletion - The delete is permanent.</p>

  <% if (messages && messages.length) { %>
  <div class="notice"><%= messages[0] %></div>
  <% } %>

  <form id="deleteForm" action="/inv/delete" method="post" class="form">

    <div class="form-field">
      <label for="inv_make">Make</label>
      <input
        type="text"
        id="inv_make"
        name="inv_make"
        value="<%= item.inv_make %>"
        readonly
      />
    </div>

    <div class="form-field">
      <label for="inv_model">Model</label>
      <input
        type="text"
        id="inv_model"
        name="inv_model"
        value="<%= item.inv_model %>"
        readonly
      />
    </div>

    <div class="form-field">
      <label for="inv_year">Year</label>
      <input
        type="text"
        id="inv_year"
        name="inv_year"
        value="<%= item.inv_year %>"
        readonly
      />
    </div>

    <div class="form-field">
      <label for="inv_price">Price</label>
      <input
        type="text"
        id="inv_price"
        name="inv_price"
        value="<%= item.inv_price %>"
        readonly
      />
    </div>

    <!-- this is needed to make sure the correct record is deleted -->
    <input type="hidden" name="inv_id" value="<%= item.inv_id %>" />

    <div class="form-actions">
      <button type="submit" class="btn btn-danger">Delete</button>
      <a class="btn" href="/inv">Cancel</a>
    </div>
  </form>
</section>
